// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$roxo: #7209B7;
$rosa: #F72585;
$dark-blue: #3A0CA3;
$medium-light-blue: #4361EE;
$light-blue: #4CC9F0;