<div>
  <p class="d-flex justify-content-center align-content-center"><%= "#{notification.actor.first_name} avaliou #{notification.second_target.name} com o título " %> <%= link_to "#{notification.target.title}", main_app.review_path(notification.target) %>".</p>
</div>
