<div class="card-map">
  <!-- Card image -->
  <div class="view overlay ">
    <%= cl_image_tag place.photo.key, class: "cad-img-top shadow-lg card-img-olli d-flex justify-content-center" %>
    <a>
      <div class="mask rgba-white-slight"> </div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title"> <%= link_to place.name, place_path(place) %> </h4>
    
    <!-- Text -->
    <p class="card-text"> <%= place.address %> </p>

    <!-- Rating -->
    <div class="rating-container">
      <div class="rates-outer">
        <div class="rates-inner">
        </div>
      </div>
      <span id="number-rating"><%= place.average_rating.round(1) %></span>
    </div>
  </div>

</div>
