<div class="card">
  <!-- Card image -->
  <div class="view overlay ">
    <%= cl_image_tag place.photo.key, class: "cad-img-top shadow-lg card-img-olli d-flex justify-content-center" %>
    <a>
      <div class="mask rgba-white-slight"> </div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title"> <%= place.name %> </h4>
    <!-- Text -->
    <p class="card-text"> <%= place.address %> </p>

    <!-- Rating -->
    <p> Ranking Ollivia </p>
    <p> <%#= link_to 'ver local', place_path(place) %> </p>
  </div>

</div>
