<!-- Header + info -->
<div class="heading d-flex justify-content-between align-items-center w-100">
  <div class="back-btn text-white ml-2">

    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>

    <% end %>
  </div>
  <div class="pg-title" style="margin-left: 7em;
                              margin-right: 7em;">
    COMUNIDADE
  </div>
  <div><i class="fas fa-info" style="color: white;"></i></div>
  <div class="mb-5">
  </div>
</div>
<!-- Fim do Header -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="text-center dark-grey-text" style="margin-top: 7em;">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2" style="color: #7209B7;">Em breve uma comunidade com muitas informações e serviços disponives</h3>

</div>
