<div id="splash-img" class="card-trip align-content-center justify-content-center w-100">
  <a href="/home"><%= image_tag 'intro.jpg', style:"height: 100vh;position: fixed;", class:"img-fluid justify-self-center" %></a>
</div>
