  <div class="container my-5 py-5">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center white-text grey p-5 z-depth-1"
      style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-xl-8 col-md-10">

            <i class="fas fa-gem fa-2x mb-4"></i>

            <h3 class="font-weight-bold">Call to action</h3>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
              numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>

            <a href="#" class="btn btn-outline-white btn-md waves-effect" role="button"><i class="fas fa-clone left"></i> View project</a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Content-->


  </div>
