<div class="container bg-404">
    <div class="row">
        <div class="col-md-12" style="height: 42em;">
            <div class="error-template" style="margin-top: 5em;">
                <h4>
                    Parece que a Ollivia se perdeu, mas ainda podemos te ajudar!</h4>
                <div class="error-actions">
                    <img src="https://media.giphy.com/media/LPB950a64mBWy7G72n/giphy.gif" class="img-fluid z-depth-1"
    style="width: 19em;
           height: auto;
           border-radius: 8px;">
                </div>
                <%= link_to 'Me leve pra home', ollivia_path %>
                <%#= ARRUMAR O LINK QUE VAI PRA HOME ^^^^ %>
            </div>
        </div>
    </div>
</div>
