<h2>Ollivia</h2>
<%= link_to "Emergência" , emergency_path, id: 'sos-btn' %>
<p>Informações sobre o app</p>
<p>Recomendar</p>
<p>Fale conosco</p>
<p>Reportar um problema</p>
<h3>Rankings</h3>
<p>Locais com mais avaliações positivas</p>
<p>Locais com maior número de resoluções</p>
<p>Locais com mais avaliações negativas</p>
