// .flash-alert {
//     padding: 16px 24px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background: white;
//     box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
//     margin: 8px;
//     border: 2px solid #f72585;
//     position: absolute;
//     top: 50%;
//     z-index: 5;
// }