.heading {
  // align-items: space-between;
  background: $roxo;
  border-bottom: solid 3px $rosa;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 48px;
  margin-top: 0;
}

.btn-back {
  display: inline;
  color: white;

  i {
    color: white !important;
  }
}

.pg-title {
  display: inline;
  color: white;
  text-transform: uppercase;
}