// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navheader";
@import "navfooter";
@import "map";

body {
  padding-bottom: 69px;
  min-height: 97vh;
  position: relative;
  ;
}

.purple {
  color: $roxo;
}