// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "together";
@import "places";
@import "rating";
@import "button";
@import "card";
@import "header";
@import "img";
@import "info_window";
@import "user_profile";



body {
  margin: 0;
  padding-bottom: 69px;
  min-height: 98vh;
  position: relative;
  background-color: white;
  color: $dark-gray;
}

.purple {
  color: $roxo;
}
