// Import your components CSS files here.
@import "alert";
@import "notice";
@import "avatar";
@import "navbar";
@import "map";
@import "together";
@import "places";
@import "rating";
@import "button";
@import "card";
@import "header";
@import "img";
@import "info_window";
@import "profile_cards";
@import "toast";
@import "radio_buttons";
@import "intro";

body {
  margin: 0;
  padding-bottom: 69px;
  min-height: 98vh;
  position: relative;
  background-color: white;
  color: $dark-gray;
}

.purple {
  color: $roxo;
}

// .dimmedPage {
//     background-color: black;
// }
// .dimmedPage body {
//     opacity: 0.5;
// }
