.card-window-olli {
  width: 100%;
  border-radius: 7px;
  border-style: solid white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: yellow;
}

.card-body-olli {
  border-radius: 7px;
  border-style: hidden !important;
}

.card-title-olli {
  color: $roxo !important;
}



