.mapboxgl-popup {
  max-width: 300px;

  .mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  box-shadow: none;
  height: 300px;
  background-color: transparent;
  position: relative;

    .mapboxgl-popup-close-button {
      font-size: 15px;
      font-weight: bolder;
      color: white;
      background-color: #7209B7;
      border-radius: 5px;
      z-index: 3;
      width: 2em;
      height: 2em;
      position: absolute;
      top: -2px;
      left: 294px;
      box-shadow: -3px 7px 15px rgba(0, 0, 0, 0.6), 0 15px 12px rgba(0, 0, 0, 0.1) !important;
}

  .view.overlay {
    position: relative;
    height: 156px;

    .card-img-olli {
      width: 170px;
      height: 110px;
      border-radius: 4px 4px 4px 4px;
      border-style: solid white;
      position: absolute;
      object-fit: cover;
      left: 9px;
      top: 9px;
      }

    }

  }

}

