// Navbar Lewagon
.navbar-lewagon {
  justify-content: space-between;
  background: $roxo !important;
  border-bottom: solid 3px $rosa;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Setup Nav
.navDropLogado {
  background-color: none;
  color: white;
  font-weight: bold;
}

.navDropLogadoTxt {
  color: #f1f1f1;
}

.navDropLogoff {
  color: $roxo;
}

.navBg {
  border-radius: 5px;
  margin-top: 13px;
}

.pos {
  z-index: 3
}

.logo {
  width: 60px;
}

.btn-icon {
  width: 10px;
  padding: none !important;
  font-size: 1rem !important;
}

.menu-sand {
  color: #ffffffb0 !important;
  width: 20px !important;
}

// Arrow Collapse
.arrow-down {
  color: #ffffffb0 !important;
  width: 12px !important;
}

.arrow-right {
  color: #ffffffb0 !important;
  height: 12px !important;
}

// Personalization menu lists
.bg-list {
  background-color: $roxo !important;
  border-bottom: #f1f1f140 solid 1px;
  color: #f1f1f1f1;
}

.btn-logout {
  background-color: $roxo !important;
  border: #f1f1f140 solid 1px;
  color: #ffffffb0;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
}

.avatar-menu {
  width: 60px;
}









