// ============ Desktop View ============ //

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{ color: #fff;  }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

// ============ Nav Lewagon ============ //

.navbar-lewagon {
  justify-content: space-between;
  background: $roxo !important;
  border-bottom: solid 3px $rosa;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// ============ Setup Nav ============ //
.user {
  background-color: none;
  color: white;
  font-size: 20px;
}

.nav-txt {
  color: $white;
}

.nav-txt-footer a {
  color: #a081b4;
}

.btn-nav {
  border-color: $roxo !important;
}

.navBg {
  border-radius: 5px;
  margin-top: 13px;
}

.position {
  z-index: 3
}

.logo {
  width: 60px;
}

.arrow-right {
  color: #ffffffb0 !important;
  height: 12px !important;
}

// ============ Menu List ============ //
.bg-list {
  background-color: $roxo !important;
  border-bottom: #f1f1f140 solid 1px;
}

.btn-logout {
  background-color: $roxo !important;
  border: #f1f1f140 solid 1px;
  color: #ffffffb0;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
}

.avatar-menu {
  width: 60px;
}

.icon {
  width: 35px;
  height: 35px;
}









