// New Menu
.nav {
  background: $roxo !important;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  border-bottom: none !important;
  border-radius: 15px 15px 0 0;
  //position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

// class pro icon estilizado
//.logo-nav img {
//   height: 105px;
//   position: absolute;
//   z-index: 3;
//   left: 0;
//   right: 0;
//   text-align: center;
//   margin-left: auto;
//   margin-right: auto;
//   bottom: -31px;
//}

.logo-nav img {
  height: 49px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}


.icone-menu img {
  width: 35px;
  padding: 4px 0px;
}

// New Menu

