.navbar-lewagon {
  justify-content: space-between;
  background: #7209B7 !important;
  border-bottom: solid 3px #F72585;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navDropLogado {
  background-color: none;
  color: #F72585;
}

.navDropLogadoTxt {
  color: #7F7F7F;
}

.navDropLogoff {
  color: #7209B7;
}

.navBg {
  border-radius: 5px;
  margin-top: 13px;
}

// Menu Sandwich
.bar {
  border-radius: 0 !important;
}