.icon- {
  padding-top: 4px !important;
}

.bg-rosa-list {
  background-color: #6633990d;
}

// Card Emergencia
.border-olli {
  border-radius: 10px !important;
  border: 2px solid $roxo !important;
}

.txt-roxo-list {
  color: $roxo;
}
.icon-rosa {
  color: $rosa;
}

.icon-roxo {
  color: #roxo !important;
}

.body-color {
  background-color: $roxo !important;
}
