// Essa classe nao eh daqui
.img-place {
  width: 100%;
  z-index: -3;
  height: 14em;
  position: relative;
  border-radius: 10px;
  fixed-top: -16px;
}

.list-place {
  padding: 0.75rem 1.25rem !important;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-place a {
  color: $roxo !important;
}

.badge-roxa {
  background-color: $rosa !important;
  color: #fff;
}

.review-header p {
  font-size: 14px;
}

.review-header a {
  color: $rosa;
  font-weight: 500;
}

.sm-line {
  line-height: 60%;
  font-size: 16px;
}