.toast.alert {
    border: 2px solid #f72585;

    .toast-header {
        border-bottom: 1px solid rgba(114, 9, 183, 0.5);
    }
}

.toast.notice {
    border: 2px solid  #7209b7;

    .toast-header {
        border-bottom: 1px solid rgba(247, 37, 133, 0.5);
    }
}

.toast-body > div {
    opacity: 0.8;
}